<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	    <meta name="description" content="F# with Suave and DotLiquid.">
	    <meta name="keywords" content="HTML, CSS, JS, JavaScript, framework, metro, front-end, backend, web development">
	    <meta name="author" content="Iuri L. Machado">

		<title>F# Fullstack Scaffold</title>
		<link href="/css/metro.min.css" rel="stylesheet" />
		<link href="/css/metro-schemes.min.css" rel="stylesheet" />
		<link href="/css/metro-responsive.min.css" rel="stylesheet" />
		<link href="/css/metro-icons.min.css" rel="stylesheet" />
		<link href="/css/metro-colors.min.css" rel="stylesheet" />
	</head>
	<body>
        <header class="app-bar navy" data-role="appbar">
            <a class="app-bar-element" href="/">F# Fullstack Scaffold</a>
			<span class="app-bar-divider"></span>
			<ul class="app-bar-menu">
				<li class="">
					<a href="#" class="dropdown-toggle">Important links</a>
					<ul class="d-menu" data-role="dropdown">
						<li><a class="" href="http://fsharp.org">F# Foundation</a></li>
						<li><a class="" href="http://fsprojects.github.io/">F# Community</a></li>
						<li><a class="" href="http://suave.io">Suave</a></li>
						<li><a class="" href="http://dotliquidmarkup.org/">DotLiquid</a></li>
					</ul>
				</li>
			</ul>
        </header>

		<div class="container">
			<br>
			<h1>F# Scaffold Project <small>{{ model.FOO }}</small> </h1>
			<br>
			<p>Enjoy! If you have any questions, find me on <a href="http://twitter.com/machadoiuri">Twitter</a>.</p>
			<br>
			<p>If you need help getting started with Suave, here you go!</p>
			<iframe width="560" height="315" src="https://www.youtube.com/embed/ujxwW6fFXOc" frameborder="0" allowfullscreen></iframe>
			<br>
			<p><strong>Now GO and build something amazing!</strong></p>
			<br><br><br><br><br><br><br><br><hr>
			<p><small>Libraries used: Suave, DotLiquid, FSharp.Data, SQLProvider, FSharp.Azure.StorageTypeProvider.</small></p>

		</div>

		<script src="/js/jquery.min.js"></script>
		<script src="/js/metro.min.js"></script>
	</body>
</html>
